<ion-item>
  <ion-select [(ngModel)]="selectedValue" [name]="name" [label]="label" placeholder="Seleccione Uno" (ionChange)="onValueChange($event)" label-placement="floating">
    <ion-select-option *ngFor="let option of options" [value]="option.value">{{ option.label }}</ion-select-option>
  </ion-select>
</ion-item>