<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon aria-hidden="true" name="bar-chart"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="prediction">
      <ion-icon aria-hidden="true" name="file-tray-stacked"></ion-icon>
      <ion-label>Predicción</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="perfil">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>