<ion-header>
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
    <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" *ngIf="!loading">
  <ion-row style="text-align: -webkit-center;">
    <ion-col size="12" class="ion-align-items-center">
      <ion-avatar>
        <img alt="Imagen de perfil" [src]="responseUser.picture" />
      </ion-avatar>
    </ion-col>
    <ion-col size="12" class="ion-text-center">
      {{responseUser.email}}
    </ion-col>
    <ion-col size="12" class="ion-text-center">
      <ion-button color="danger" (click)="logout()">
        <ion-icon name="log-in-outline" class="ion-padding-end"></ion-icon>
        Cerrar sesión
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>