.content-login {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.img-responsive {
  width: 50%;
  height: auto;
  padding-bottom: 30px;
  padding-top: 20px;
}

/* Estilo para pantallas pequeñas */
@media only screen and (max-width: 600px) {
  .img-responsive {
    width: 70%;
  }
}

/* Estilo para pantallas medianas */
@media only screen and (min-width: 600px) {
  .img-responsive {
    width: 50%;
  }
}

/* Estilo para pantallas grandes */
@media only screen and (min-width: 992px) {
  .img-responsive {
    width: 10%;
  }
}
