<ion-content>
  <div class="content-login ">
    <h1>Bienvenido </h1>
    <h1>Prediction Soft </h1>
    <img src="assets/img/login.png" alt="Descripción de la imagen" class="img-responsive">
    <ion-button expand="full" (click)="login()">
      <ion-icon slot="start" name="person"></ion-icon>
      Iniciar sesión
    </ion-button>
  </div>
</ion-content>