<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Predicción
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Files</ion-title>
    </ion-toolbar>
  </ion-header>
  <form>
    <ion-row>
      <ion-col offset-xl="3" size-xl="6" offset-md="3" size-md="6" size-sm="12" size-xs="12" offset-sm="0" offset-xs="0">
        <ion-text>
          <h4>Carga de Archivo</h4>
        </ion-text>
        <app-file-upload (addFile)="handleFile($event)"></app-file-upload>
        <app-date-select label="Mes" name="month" [options]="monthOptions" [selectedValue]="selectedMonth" (selectedValueChange)="handleSelectedValueChangeMonth($event)"></app-date-select>
        <app-date-select label="Año" name="year" [options]="yearOptions" [selectedValue]="selectedYear" (selectedValueChange)="handleSelectedValueChangeYear($event)"></app-date-select>
      </ion-col>
      <ion-col offset-xl="3" size-xl="6" offset-md="3" size-md="6" size-sm="12" size-xs="12" offset-sm="0" offset-xs="0" class="ion-text-center ion-align-items-center">
        <ion-row justify-content-center class="ion-align-items-stretch ion-justify-content-center">

          <ion-button (click)="uploadFile()" expand="full">
            <ion-icon name="add-circle-outline" class="ion-padding-end"></ion-icon>
            Cargar Archivo
          </ion-button>
          <ion-button (click)="predictSales()" expand="full" color="success">
            <ion-icon name="git-compare" class="ion-padding-end"></ion-icon>
            Predecir
          </ion-button>
          <ion-button (click)="deleteFiles()" expand="full" color="danger">
            <ion-icon name="trash" class="ion-padding-end"></ion-icon>
            Eliminar Historial
          </ion-button>
        </ion-row>
      </ion-col>

    </ion-row>
  </form>
  <ion-row>
    <ion-col offset-xl="3" size-xl="6" offset-md="3" size-md="6" size-sm="12" size-xs="12" offset-sm="0" offset-xs="0">
      <ion-list class="ion-margin-top">
        <ion-text>
          <h4>Historial de archivos cargados</h4>
        </ion-text>
        <ion-item *ngFor="let item of uploadedFiles">
          <ion-label>{{ item.month | monthName }}</ion-label>
          <ion-label>{{ item.year }}</ion-label>
          <ion-note slot="end">{{ item.createdAt| date:'short' }}&nbsp;</ion-note>
          <ion-note slot="end">{{item.createdBy.split('@')[0]}}</ion-note>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>