.reset-controls {
  display: flex;
  gap: 1rem;
}
.content {
  margin: 1rem 0rem;
}
.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.chart-height-small {
  height: 200px;
}
.chart-height-medium {
  height: 500px;
}

.span-1 {
  grid-area: span 1 / span 1;
}

.span-2 {
  grid-area: span 2 / span 2;
}

.span-3 {
  grid-area: span 3 / span 3;
}

.span-4 {
  grid-area: span 4 / span 4;
}

@media screen and (max-width: 768px) {
  .dashboard {
    grid-template-columns: repeat(2, 1fr);
  }
  .span-3,
  .span-4 {
    grid-area: span 2 / span 2;
  }
}

@media screen and (max-width: 480px) {
  .dashboard {
    grid-template-columns: repeat(1, 1fr);
  }
  .span-2,
  .span-3,
  .span-4 {
    grid-area: span 1 / span 1;
  }
}
