<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="dashboard">
    <div style="box-shadow: 0.1rem 0.1rem 1rem #ececec !important;
      border-radius: 0.5rem !important;
      border: none;" #chart [id]="chart.chart_id" class="chart" [ngClass]="{
          'chart-height-small': chart.height === 'small',
          'chart-height-medium': chart.height === 'medium',
          'span-1': chart.colSpan === 1,
          'span-2': chart.colSpan === 2,
          'span-3': chart.colSpan === 3,
          'span-4': chart.colSpan === 4
        }" *ngFor="let chart of charts">
    </div>
  </div>
</ion-content>